<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="musicPlayer.properties"/>
    <context:component-scan base-package="ru.alishev.springcourse"/>

    <!--<bean id="classicalMusicBean"
          class="ClassicalMusic"
          factory-method="getClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy">
    </bean>-->
    <!--<bean id="popMusicBean"
          class="PopMusic">
    </bean>
    <bean id="rockMusicBean"
          class="RockMusic">
    </bean>-->


    <!--<bean id="musicPlayer"
          class="MusicPlayer"
          scope="prototype">
        <property name="musicList">
            <list>
                <ref bean="classicalMusicBean"/>
                <ref bean="popMusicBean"/>
                <ref bean="rockMusicBean"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>

    </bean>-->

</beans>